.content {
  margin-top: 1em;
}
/* Overriding DateTime css stylings*/

.rdt {
  border: none !important;
  padding: 0 !important;
}

/* Icon styling*/
.sortButtons {
  display: flex;
  direction: row;
}

/* Remove button styling*/
.sortButton,
.language-btn {
  display: flex;
  line-height: 1;
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  outline: inherit !important;
}

.material-icons {
  font-size: 18px;
  line-height: 1;
}
/* Sightings page*/
.active-icon {
  color: red;
}

.btn-filter {
  width: 100%;
  font-size: 1.4em;
  border-radius: 0;
}
.filter-label {
  margin: 0 1em 0 1em;
  font-size: 15px;
}
.filter-date-separator {
  margin: 0 0.5em 0 0.5em;
}

.btn-clear-filter {
  margin-left: 1em;
}
/* Loading spinner*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner 0.8s ease infinite;
}

/* Bootstrap overrides*/

.navbar-nav .nav-item + .nav-item {
  margin-left: 0 !important;
}

/* Flags */

.flag-image {
  height: 25px;
  margin: 0px 3px;
}
.flags-container {
  display: flex;
}

/* Empty */

.empty {
  text-align: center;
  font-size: 20px;
}
