.content {
  margin-top: 1em;
}
/* Overriding DateTime css stylings*/

.rdt {
  border: none !important;
  padding: 0 !important;
}

/* Icon styling*/
.sortButtons {
}

/* Remove button styling*/
.sortButton {
  line-height: 1;
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  outline: inherit !important;
}

.material-icons {
  font-size: 18px;
  line-height: 1;
}

.active-icon {
  color: red;
}

/* Loading spinner*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner 0.8s ease infinite;
}
