.content {
  margin-top: 1em;
}
/* Overriding datepicker css stylings*/
.react-datepicker__input-container {
  display: block !important;
}
.react-datepicker-wrapper {
  display: block !important;
}
.react-datepicker__time-container {
  min-width: 150px;
}
.react-datepicker__time-box {
  min-width: 150px;
}
.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 150px !important;
}

/* Icon styling*/
.sortButtons {
}

/* Remove button styling*/
.sortButton {
  line-height: 1;
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  outline: inherit !important;
}

.material-icons {
  font-size: 18px;
  line-height: 1;
}

.active-icon {
  color: red;
}


/* Loading spinner*/


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}